.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

}

/* camelCase */
.menuLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--primary);
    transition: all 0.1s ease-in-out;
    color: var(--text-over-primary);
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}

.menuLink:hover {
    filter: brightness(0.8);
}